In [2]:
import pandas as pd
data = pd.Series(['Январь', "Февраль", "Март", "Апрель", "Май"],
index = ['Первый', "Второй", "Третий", "Четвёртый", "Пятый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
Пятый            Май
dtype: object

In [3]:
data.loc[['Первый', "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [25]:
data['Первый']

'Январь'

In [26]:
data[['Первый', "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [27]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [28]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [32]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
               columns = ['foo', 'bar', 'baz'],
               index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [19]:
import pandas as pd
data = pd.Series(['Январь', "Февраль", "Март", "Апрель"])
display(data)

0     Январь
1    Февраль
2       Март
3     Апрель
dtype: object

In [36]:
import pandas as pd
pd.read_csv('football.csv')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [37]:
import pandas as pd
football = pd.read_csv('football.csv')
display(football.head(10)) #если аргумент в скобках не указан, то автоматически подставляется число 5 и выводит первые или последние 5 строк

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,...,75,82,87,92,91,11,8,9,7,11
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89

In [39]:
display(football.tail(10)) #если аргумент в скобках не указан, то автоматически подставляется число 5 и выводит первые или последние 5 строк

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12887,13116,D. Holland,18,Republic of Ireland,Cork City,60000,1000,CM,44,44,...,49,52,41,47,38,13,6,9,10,15
12888,13117,J. Livesey,18,England,Burton Albion,60000,1000,GK,14,8,...,14,34,15,11,13,46,52,58,42,48
12889,13118,M. Baldisimo,18,Canada,Vancouver Whitecaps FC,70000,1000,CM,31,31,...,36,40,48,49,49,7,7,9,14,15
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [41]:
import pandas as pd
football = pd.read_csv('football.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [42]:
import pandas as pd
football = pd.read_csv('football.csv')
display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [43]:
football.describe(include = ['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [ ]:
with pd.option_context('display.max_rows', None,'display.max_columns', None):
    display(football.describe) #НЕ ЗАПУСКАТЬ
    #ВЫВОДИТ ВСЮ ТАБЛИЦУ. ТАМ 12К СТРОК

In [45]:
football[football.Age > 20]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [46]:
football[football.Age > football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [47]:
football[(football.Age < football.Age.mean())&(football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
42,42,S. Umtiti,24,France,FC Barcelona,57000000,205000,CB,69,51,...,61,82,90,89,86,15,10,14,12,15
141,141,O. Dembélé,21,France,FC Barcelona,40000000,155000,RW,78,78,...,75,75,42,30,33,6,6,14,10,13
190,190,Arthur,21,Brazil,FC Barcelona,32500000,125000,LCM,70,72,...,69,84,65,76,70,6,13,13,11,12
195,195,C. Lenglet,23,France,FC Barcelona,26000000,135000,LCB,36,23,...,43,74,85,82,81,10,10,9,12,7
235,235,Nélson Semedo,24,Portugal,FC Barcelona,20000000,125000,RB,74,50,...,38,75,75,78,79,16,12,10,14,12
1464,1515,Aleñá,20,Spain,FC Barcelona,6000000,58000,CM,66,66,...,73,70,70,62,48,12,9,10,8,12
5377,5539,Chumi,19,Spain,FC Barcelona,1000000,11000,CB,38,30,...,50,62,70,65,63,7,14,9,11,14
5613,5777,Jorge Cuenca,18,Spain,FC Barcelona,850000,11000,CB,40,27,...,44,57,62,66,63,10,12,5,14,12
6124,6293,Guillem Jaime,19,Spain,FC Barcelona,975000,13000,RW,63,54,...,49,66,52,55,56,9,11,12,10,6
7312,7493,Ezkieta,21,Spain,FC Barcelona,525000,10000,GK,16,12,...,24,33,13,17,15,65,58,59,59,64
9028,9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,...,17,38,9,10,11,63,57,64,57,62

In [66]:
df = pd.read_csv('football.csv', sep = ';') #Как прочитать и загрузить в DataFrame df файл csv, разделитель которого ';' ?

In [ ]:
import pandas as pd
football = pd.read_csv('football.csv')

In [80]:
football[football.Wage > football.Wage.mean()].SprintSpeed.mean() #В датасете о футболистах (football.csv) найди среднюю скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего.  Ответ округли до сотых.

67.56638061585058

In [81]:
football[football.Wage < football.Wage.mean()].SprintSpeed.mean() #В датасете о футболистах ( football.csv  ) найди среднюю скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего.  Ответ округли до сотых.

62.41425430560645

In [15]:
football[(football.Composure > (football.Composure.max()*0.9)) & (football.Reactions > (football.Reactions.max()*0.9))].Age.min() #Укажи возраст (Age) самого молодого игрока из датасета о футболистах (football.csv), у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения.

24

In [83]:
football[football.Value > football.Value.mean()].Nationality.describe().top #Из какой страны (Nationality) больше всего игроков в датасете о футболистах (football.csv), чья стоимость (Value) превышает среднее значение?

'Spain'

In [86]:
age = football.Age.mean() #запсиать в перменное среднее значение возраста футболистов и округлить до целых
print(round(age))

25

In [2]:
import pandas as pd #HOMEWORK
football = pd.read_csv('football.csv')
n = football.Nationality.max()
age = football.Age.mean()
print(round(age), n)

25 Zimbabwe

In [3]:
rich = football.Wage.max()
low = football.Value.min()
total = football.Wage.sum()
rich = str(rich)
low = str(low)
total = str(total)
print(rich+', '+low+', '+total)

565000, 0, 96954000

In [4]:
speedH = football[football.Wage > football.Wage.mean()].SprintSpeed.mean()
print(round(speedH))

68

In [5]:
speedL = football[football.Wage < football.Wage.mean()].SprintSpeed.mean()
print(round(speedL))

62

In [8]:
age = football[(football.Composure > (football.Composure.max()*0.9)) & (football.Reactions > (football.Reactions.max()*0.9))].Age.min() 
print(age)

24

In [9]:
n = football[football.Wage > football.Wage.mean()].Nationality.max()
speedH = football[football.Wage > football.Wage.mean()].SprintSpeed.mean()
speedL = football[football.Wage < football.Wage.mean()].SprintSpeed.mean()
age = football[(football.Composure > (football.Composure.max()*0.9)) & (football.Reactions > (football.Reactions.max()*0.9))].Age.min() 
print(round(speedH), round(speedL), round(age), n)

68 62 24 Zimbabwe